@import "tailwindcss";

@layer base {
  body {
    background-color: #0f172a;
    color: #e2e8f0;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(71, 85, 105, 0.5);
    border-radius: 20px;
  }
}